<h1>Payment Successfull</h1>
Checkout Status : <%= @session_with_expand.payment_status %>
<br>
Amount Paid : <%= @session_with_expand.amount_total/100.to_d %>
<%= @session_with_expand.currency %>
<br>
<hr>
<%= @session_with_expand %>
<br>
<br>
<hr>
<% @session_with_expand.line_items.data.each do |line_item| %>
  <% product = Product.find_by(stripe_product_id: line_item.price.product) %>
  <br>
  <%= product.name %>
<% end %>
