<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Products</h1>
  <div>
    <table class="table table-info table-striped">
      <ol class="fs-2">
        <thead class="table-secondary">
          <td class="text-center"> Name </td>
          <td class="text-center"> Price </td>
          <td class="text-center"> Stripe Product ID </td>
          <td class="text-center"> Stripe Price ID </td>
          <td class="text-center"> Shopping Cart </td>
          <td class="text-center"> Sales Count  </td>
          <td colspan=3 class="text-center"> Action </td>
        </thead>
        <% @products.each do |product| %>
          <tr>
            <td class="text-center"> <%= link_to product.name, product_path(product) %> </td>
            <td class="text-center"><%= number_to_currency(product.price/100, unit: "Rs") %></td>
            <td class="text-center"><%= product.stripe_product_id %></td>
            <td class="text-center"><%= product.stripe_price_id %></td>
            <td class="text-center">
              <% if @cart.include?(product) %>
                <%= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
              <% else %>
                <%= button_to "Add to cart", add_to_cart_path(product) %>
              <% end %>
            </td>
            <td class="text-center"><%= product.sales_count %></td>
            <td class="text-center"><%= button_to "Show",product_path(product),method: :get, class:"btn-success border-0 rounded-pill shadow px-3 py-2" %></td>
            <td class="text-center"><%= button_to "Edit",edit_product_path(product),method: :get, class:"btn-primary border-0 rounded-pill shadow px-3 py-2" %></td>
            <td class="text-center"><%= button_to "Delete",product_path(product),method: :delete, class:"btn-danger border-0 rounded-pill shadow px-3 py-2",  data: { confirm: 'Are you sure?' }  %></td>
          </tr>
        <% end %>
      </ol>
    </table>
  </div>
  <div class="d-flex">
    <%= button_to "Add New product", new_product_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 m-3" %>
  </div>
</div>
<br>
